src/generated/smartphone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">

    <xs:element name="smartphone">
        <xs:complexType>
            <xs:sequence>

                <!-- Ficha Técnica -->
                <xs:element name="technical_data" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>

                            <!-- Tabelas -->
                            <xs:element name="table" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>

                                        <!-- Título da Tabela -->
                                        <xs:element name="table_title" type="xs:string"/>

                                        <!-- Dados da Tabela -->
                                        <xs:element name="table_data" maxOccurs="unbounded" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="data_title" type="xs:string"/>
                                                    <xs:element name="data_value" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <!-- Informação Principal -->
            <xs:attribute name="price">
                <xs:simpleType>
                    <xs:restriction base="xs:float">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:string" name="currency"/>
            <xs:attribute type="xs:string" name="summary_data"/>

        </xs:complexType>
    </xs:element>
</xs:schema>